.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
.btn2{
    background: #ff7984;
    color: white;
    overflow: hidden;
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}

.flex {
    display: flex;
    height: 600px;
    padding: 10px;
    background-color: #f0e18b;
    
    flex-direction: column;
  }
  
.item {
    flex: 1;
    background-color: #ffc2c200;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.item2 {
    flex: 1;
    background-color: #ffbb00;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
.item3 {
    height: 50px;
    background-color: #ffbb00;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}